services:
  - type: web
    name: fastdistrib
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn FastDistrib.wsgi:application"
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
      - key: DEBUG
        value: false
    autoDeploy: true